.navbar-brand{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.navbar-brand span{
    color: #2563EB;
}
.nav-link{
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link:hover{
    color: #2563EB;
}
.profile-img{
    width: 420px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top; 
    margin-left: 80px;           
    margin-top: 45px;
}
#about{
    padding: 100px 0;
    background:white;
}
#about h2{
    font-size: 50px;
    font-weight: 700;
   
}
.about-box{
    background: white;
    border-radius: 10px;
    padding: 88px;
    

}

.body{
    padding-top: 10px;
}
.html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 90px;
}